@page
@model ContactList.Pages.IndexModel
@{
    ViewData["Title"] = "Contact List";
    String loggedUser = "";
}

@Model.debug

<h2>Contact List</h2>

<div id="logIn">
    <form method="post" asp-page-handler="Login" id="logInForm">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="LoginForm.Email"></label>
            <input asp-for="LoginForm.Email" class="form-control" />
            <span asp-validation-for="LoginForm.Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LoginForm.Password"></label>
            <input asp-for="LoginForm.Password" type="password" class="form-control" />
            <span asp-validation-for="LoginForm.Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <button type="button" id="loginButton" onclick="showLoginForm()">LOG IN</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th class="detailsHeader">Email</th>
            <th class="detailsHeader">Category</th>
            <th class="detailsHeader">Subcategory</th>
            <th class="detailsHeader">Birth Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model.listContacts)
        {
            <tr>
                <td>@contact.firstName</td>
                <td>@contact.lastName</td>
                <td class="details">@contact.email</td>
                <td class="details">@contact.category</td>
                <td class="details">@contact.subCategory</td>
                <td class="details">@contact.birthDate</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="contactId" value="@contact" />
                        <button type="button" name="detailsButton" onclick="showDetails(this)">DETAILS</button>
                    </form>
                </td>
                @if (Model.loggedInUserEmail != "")
                {
                    <td> <button type="button" name="addButton">EDIT</button> </td> //TODO logic for buttons for logged user
                    <td>
                        <form method="post" asp-page-handler="Delete" asp-route-contactId="@contact.id">
                            <button type="submit" name="deleteButton">DELETE</button>
                        </form>
                    </td>
                }
            </tr>
        }
        <tr>
            @if (Model.loggedInUserEmail != "")
            {
                <td> <button type="button" name="addButton">ADD NEW CONTACT</button> </td>
            }
        </tr>
    </tbody>
</table>

<script>
    function showDetails(button) {
        var row = button.closest('tr');
        var detailCells = row.querySelectorAll('.details');

        detailCells.forEach(function (cell) {
            cell.style.display = 'table-cell';
        });

        var headerCells = document.querySelectorAll('.detailsHeader');

        headerCells.forEach(function (cell) {
            cell.style.display = 'table-cell';
        });

        button.disabled = true;
    }

    function showLoginForm() {
        var logInForm = document.getElementById('logInForm');
        logInForm.style.display = 'block';
        document.getElementById("loginButton").style.display = 'none';
    }
</script>

<style>
    .details {
        display: none;
    }

    .detailsHeader {
        display: none;
    }

    #logInForm {
        display: none;
    }

    #logIn {
        float: right;
    }

    #loginButton {
        display: block;
    }
</style>
